vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|05 Jun 2004 11:54:32 -0000
vti_extenderversion:SR|5.0.2.6417
vti_thicketsupportingfile:BW|true
vti_author:SR|MATTS\\Matt
vti_modifiedby:SR|MATTS\\Matt
vti_timecreated:TR|05 Jun 2004 11:54:32 -0000
vti_cacheddtm:TX|05 Jun 2004 11:54:32 -0000
vti_filesize:IR|2792
vti_lineageid:SR|{F66C9DDD-9611-45CD-B95A-19791176A361}
vti_backlinkinfo:VX|Maddogs\\ Website/index_files/sheet002.htm Maddogs\\ Website/index_files/sheet001.htm
