vti_encoding:SR|utf8-nl
vti_author:SR|MATTS\\Matt
vti_modifiedby:SR|MATTS\\Matt
vti_timelastmodified:TR|25 Sep 2005 03:27:56 -0000
vti_timecreated:TR|25 Sep 2005 03:27:21 -0000
vti_extenderversion:SR|5.0.2.6417
vti_lineageid:SR|{BE21BD07-552B-4445-91E7-7FC5411C3508}
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TR|25 Sep 2005 03:27:21 -0000
vti_cacheddtm:TX|25 Sep 2005 03:27:21 -0000
vti_filesize:IR|4829
vti_cachedlinkinfo:VX|S|bstrbnr.gif S|bstrhbd.gif S|bstrhbsd.gif S|bstrhomd.gif S|bstrnxtd.gif S|bstrprvd.gif S|bstrupd.gif S|bstrglbu.gif S|bstrvbd.gif S|bstrvbsd.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/boldstri/bstrbnr.gif FSUS|_themes/boldstri/bstrhbd.gif FSUS|_themes/boldstri/bstrhbsd.gif FSUS|_themes/boldstri/bstrhomd.gif FSUS|_themes/boldstri/bstrnxtd.gif FSUS|_themes/boldstri/bstrprvd.gif FSUS|_themes/boldstri/bstrupd.gif FSUS|_themes/boldstri/bstrglbu.gif FSUS|_themes/boldstri/bstrvbd.gif FSUS|_themes/boldstri/bstrvbsd.gif
