vti_encoding:SR|utf8-nl
vti_author:SR|MATTS\\Matt
vti_modifiedby:SR|MATTS\\Matt
vti_timelastmodified:TR|25 Sep 2005 03:27:56 -0000
vti_timecreated:TR|25 Sep 2005 03:27:21 -0000
vti_extenderversion:SR|5.0.2.6417
vti_lineageid:SR|{0190D51D-62F9-4990-AB3F-0F1BBF70E2AD}
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TR|25 Sep 2005 03:27:21 -0000
vti_cacheddtm:TX|25 Sep 2005 03:27:21 -0000
vti_filesize:IR|1391
vti_cachedlinkinfo:VX|S|bstrbnr.gif S|bstrrul.gif S|bstrbu1.gif S|bstrbu2.gif S|bstrbu3.gif S|bstrhbsd.gif S|bstrhbd.gif S|bstrvbsd.gif S|bstrvbd.gif S|bstrhomd.gif S|bstrupd.gif S|bstrprvd.gif S|bstrnxtd.gif S|bstrbu1.gif S|bstrbu2.gif S|bstrbu3.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/boldstri/bstrbnr.gif FSUS|_themes/boldstri/bstrrul.gif FSUS|_themes/boldstri/bstrbu1.gif FSUS|_themes/boldstri/bstrbu2.gif FSUS|_themes/boldstri/bstrbu3.gif FSUS|_themes/boldstri/bstrhbsd.gif FSUS|_themes/boldstri/bstrhbd.gif FSUS|_themes/boldstri/bstrvbsd.gif FSUS|_themes/boldstri/bstrvbd.gif FSUS|_themes/boldstri/bstrhomd.gif FSUS|_themes/boldstri/bstrupd.gif FSUS|_themes/boldstri/bstrprvd.gif FSUS|_themes/boldstri/bstrnxtd.gif FSUS|_themes/boldstri/bstrbu1.gif FSUS|_themes/boldstri/bstrbu2.gif FSUS|_themes/boldstri/bstrbu3.gif
