vti_encoding:SR|utf8-nl
vti_author:SR|MATTS\\Matt
vti_modifiedby:SR|MATTS\\Matt
vti_timelastmodified:TR|25 Sep 2005 03:27:56 -0000
vti_timecreated:TR|25 Sep 2005 03:27:21 -0000
vti_extenderversion:SR|5.0.2.6417
vti_lineageid:SR|{2A59EAB9-0F4D-48E9-A601-5D71DBB5B82C}
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TR|25 Sep 2005 03:27:21 -0000
vti_cacheddtm:TX|25 Sep 2005 03:27:21 -0000
vti_filesize:IR|10696
vti_cachedlinkinfo:VX|S|bstrglbu.gif S|bstrbk.gif S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/boldstri/bstrglbu.gif FSUS|_themes/boldstri/bstrbk.gif FSUS|_themes/boldstri/blank.gif
