vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Oct 2004 03:24:22 -0000
vti_extenderversion:SR|5.0.2.6417
vti_author:SR|MATTS\\Matt
vti_modifiedby:SR|MATTS\\Matt
vti_timecreated:TR|11 Oct 2004 03:24:22 -0000
vti_cacheddtm:TX|11 Oct 2004 03:24:22 -0000
vti_filesize:IR|1222
vti_cachedlinkinfo:VX|S|http://us.i1.yimg.com/us.yimg.com/i/us/hdr/el/uh_bk.gif S|http://us.i1.yimg.com/us.yimg.com/i/us/hdr/el/uh_tcrn.gif S|http://us.i1.yimg.com/us.yimg.com/i/us/hdr/el/uh_tcrn_b.gif S|http://us.i1.yimg.com/us.yimg.com/i/us/hdr/el/uh_crn2.gif S|http://us.i1.yimg.com/us.yimg.com/i/us/hdr/el/uh_crn_b.gif
vti_cachedsvcrellinks:VX|NSHS|http://us.i1.yimg.com/us.yimg.com/i/us/hdr/el/uh_bk.gif NSHS|http://us.i1.yimg.com/us.yimg.com/i/us/hdr/el/uh_tcrn.gif NSHS|http://us.i1.yimg.com/us.yimg.com/i/us/hdr/el/uh_tcrn_b.gif NSHS|http://us.i1.yimg.com/us.yimg.com/i/us/hdr/el/uh_crn2.gif NSHS|http://us.i1.yimg.com/us.yimg.com/i/us/hdr/el/uh_crn_b.gif
vti_lineageid:SR|{229F31B6-19F7-45E6-9B8C-0D93DDBDC65E}
vti_backlinkinfo:VX|
