vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|29 Oct 2003 10:59:00 -0000
vti_extenderversion:SR|5.0.2.6417
vti_author:SR|MATTS\\Matt
vti_modifiedby:SR|MATTS\\Matt
vti_timecreated:TR|29 Oct 2003 10:59:00 -0000
vti_cacheddtm:TX|29 Oct 2003 10:59:00 -0000
vti_filesize:IR|3667
vti_lineageid:SR|{A9E9BDE0-4704-4F16-B69A-C3E321E0A290}
vti_backlinkinfo:VX|
