vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|29 Oct 2003 10:59:00 -0000
vti_extenderversion:SR|5.0.2.6417
vti_author:SR|MATTS\\Matt
vti_modifiedby:SR|MATTS\\Matt
vti_timecreated:TR|29 Oct 2003 10:59:00 -0000
vti_cacheddtm:TX|29 Oct 2003 10:59:00 -0000
vti_filesize:IR|3667
vti_lineageid:SR|{C4518DF7-10A2-4A9D-8B14-051718BF7C4C}
vti_backlinkinfo:VX|
