vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|22 Jan 2002 18:22:04 -0000
vti_extenderversion:SR|4.0.2.5526
vti_thicketsupportingfile:BW|true
vti_backlinkinfo:VX|hockeystats2002_files/sheet002.htm hockey\\ stats\\ 2002.htm hockeystats2002_files/sheet001.htm
vti_filesize:IR|9530
vti_nexttolasttimemodified:TR|22 Jan 2002 18:22:04 -0000
vti_author:SR|matt
vti_modifiedby:SR|matt
vti_timecreated:TR|27 Aug 2002 23:48:21 -0000
vti_cacheddtm:TX|26 Mar 2002 04:28:44 -0000
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
